

@* <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v19.0" nonce="UVdprZQF"></script>
<div class="news-box">
    <div id="fb-root">
        <div class="fb-post" data-href="https://www.facebook.com/people/Fn-G-Autowerks/100089032754029/" data-tabs="posts" data-width="600" data-height="600" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="false"></div>
    </div>
@*     <p class="date-line"></p>
    <p class="header-line"></p>
    <p class="message-line"></p>
    <img class="message-picture" /> *@
@*</div> *@
<iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fprofile.php%3Fid%3D100089032754029&tabs=timeline&width=340&height=500&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId" width="340" height="500" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
@code {

}