<h1>Uh-oh!</h1>
<h5>We apologize for the inconvenience, but our server encountered some error sumitting your request for service.
    <br />
    This could likely be caused by entering an invalid email address in the form.
    <br />
    Please try again, ensuring you entered a valid email address, or you can try again later.
    <br />
    Feel free to also email us directly at <email>doc.fuelpump@gmail.com</email> with your request for service. 
    <br />
    We apologize again for the error!
</h5>
<button class="btn btn-primary" href="/">Return to home</button>