<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Auto Shop Information</title>
    
</head>
<body>
    <div class="container">
        <h1 class="p-2">Auto Shop Information</h1>
        <div class="info">
            <p><strong>Address:</strong> 74 N State St, Fountain Green, UT 84632</p>
            <p><strong>Hours:</strong> Monday - Friday 8am-5pm</p>
            <p><strong>Phone:</strong> (435) 610-0258</p>
            <p><strong>Email:</strong> <a href="mailto:doc-fuelpump@gmail.com">doc-fuelpump@gmail.com</a></p>
        </div>
    </div>
</body>
</html>
