/*body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
    color: white;*/ /* Set text color to white */
    /*display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;*/ /* Center content vertically */
    /*font-size: 2em;*/ /* Adjust font size as needed */
    /*text-align: center;
}

.firework {
    position: absolute;
    width: 5px;
    height: 5px;
    border-radius: 50%;
}

.confetti {
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}*/
