@inject NavigationManager nav
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thank You!</title>
    <style>
        body {
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background-color: #f0f0f0;
        }

        .message {
            font-size: 3em;
            font-weight: bold;
            text-align: center;
            color: #333;
        }
    </style>
    <script src="https://run.confettipage.com/here.js"
            data-confetticode="U2FsdGVkX1/mHF83EPKUqRt+rmjdyOSDy3Bi3yHbTPKeaC0udQA0wvsDhEmtstKFS5H7THWqvLAFkG6W5gdRq3cggptRqQSfgt4QYCunDqvnGhiJPE2PEICBrJxLnT6ep7bqVER8JZ8vWg3pkuPoFHxk2dA8nC8N9gfql0+hOde7IfH681zSyGzGvaxpo/xHvxC2wbCJI9q+ZkYkPtjoX4H8WVP87KGbKHTEbwEUJFk0JrWOgPdGYR7AKM6GjGmSlrcDPNbkU1X0X4OmxFpBKsWLp4fuRs0TR/17dm4y9MloiIx2litNUUJQznuFJlIb2wFbSNQ05PZxnLbrCPqKBqLOn2Hg6ckQUcvIIhXcJaWpLKBmxKLxxzKc6Ia2jYlcLWPbUGYAjt1MikEjfd/ljUmNTNMeL/Sl1I6sJiTmkLloUJAwtFhDKg+UncJ3WEJhaF9RicSvIZcPsi8yCG4N72vPKLuVLXHudXMtC73JpHT37EZQhGfiWcxYb3jeXV9XK0t35fYw0yb3yaJFAT7K1PjeGrYCSjxEgZ7by8wHNsSpO+UX6yMrBa5WVoSNjYHbyCDEya8UGpyWkT8CqbGnEqT73DWfeZhLyf0F5/vsYL0MnN3BkSBe8N5Wc+5lvJJ7J/TW2YBQUwT1UaDLAVcKUwlPHOaU4YwIKJyB9lKSTdvw+QGGF/vREHkg/Dsw6Ygt">
    </script>

</head>
<body>
    <div class="message">
        Thank You!
    </div>
</body>
@* @code {
    protected override async Task OnInitializedAsync()
    {
        await Task.Delay(5000);
        nav.NavigateTo("/");
    }

} *@



