/*body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
    color: white;
}

.firework {
    position: absolute;
    width: 5px;
    height: 5px;
    border-radius: 50%;
}

.confetti {
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}*/
