<div class="footer-box">
    <div class="footer-container">
        <div class="footer-logo">
            <img class="footer-image" src="./your-logo.jpg"/>
            <div class="footer-logo-text">
                <h3 class="footer-logo-title">F'N'G Autowerks</h3>
                <h4 class="footer-logo-slogan-text">Join us in driving forward, together!</h4>
            </div>
        </div>
        <div class="footer-links">
            <p class="footer-link-text"><a href=" mailto:info@example.com?subject=request Follow Up">Let us know how we're doing</a></p>
            <p class="footer-link-text"><a href="/stats">See how far we've come!</a></p>
            <p class="footer-link-text">Why work with us?</p>
        </div>
    </div>
</div>

@code {

}